<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [fixedInViewport]="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [opened]="false">

    <mat-toolbar class="mat-primary" color="primary">
      <mat-toolbar-row>
        <span>Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" (click)="drawer.close()" [routerLink]="link.link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon mat-list-icon color="accent">{{link.image}}</mat-icon>
        <a mat-line>{{ link.text }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" *ngIf="auth.user | async" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Evilgram</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>